{% extends "base.html.twig" %}

{% block content %}
    <h1 class="has-text-centered is-size-1">bunq Webapp</h1>
    <div class="has-text-centered">
        <a class="button is-primary" href="/login" title="Login">Login</a>
    </div>
{% endblock %}
